.home {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg {
    position: relative;
    height: 100vh;
}

.bg img {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500px;
    transform: rotate(-15deg) translate(-50px, 50px);;
    z-index: -1;
    opacity: 0.4;
}

.header {
    font-size: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

.description {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 200;
    padding-right: 80px;
}

.join_button {
    width: 143px;
    height: 38px;
    border-radius: 999px;
    background-color: #5856D6;
    border: none;
    color: #fff;
    margin-bottom: 30px;
}

.chat {
    width: 400px;
}

.faces {
    display: flex;
}

.faces img, .faces p {
    position: relative;
}

.faces img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: #5856D6 solid;
}

.img2 {
    position: fixed;
    left: -3%;
}

.img3 {
    position: fixed;
    left: -6%;
}

.join_text {
    position: fixed;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    left: -3%;
    max-width: 30%;
}

.aiva {
    position: relative;
    display: flex;
    flex-direction: column;
}

.aiva_img {
    width: 200px;
    position: absolute;
    right: 20%;
    bottom: 8%;
}

.chat {
    position: absolute;
    left: -5%;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.links a {
    text-decoration: none;
    margin-right: 70px;
    color: black;
}