.navbar {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo img {
    width: 133px;
}

.join_button {
    width: 143px;
    height: 38px;
    border-radius: 999px;
    background-color: #5856D6;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 20px;
}

.join_button:hover {
    background-color: #403eaa;
    box-shadow: 0 0 10px rgba(138, 129, 255, 0.9);
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lang_buttons {
    display: flex;
}

.pt_button, .gb_button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.separator {    
    height: 25px; /* match the icon height */
    border: 1px solid #000
}

.modal_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal_container {
    position: relative;
    background-color: #fff;
    width: 27%;
    height: 95%;
    border-radius: 32px;
}

.close_button {
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 24px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.modal_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12% !important;
    font-family: 'Inter', sans-serif;
    padding: 0 8%;
    height: 20%;
}

.modal_title {
    padding: 0 20px;
    text-align: center;
    font-size: 24px;
}

.modal_header img {
    width: 50px;
}

.modal_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8%;

}

.form_content {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    width: 100%;
}

.form_content label {
    padding: 10px 5px;
    color: #7978DE;
    font-size: 13px;
}

.form_content input {
    border: none;
    background-color: #E5E5E5;
    height: 32px;
    border-radius: 50px;
    padding: 0 20px;
}

.phone_input_container {
  background-color: #E5E5E5;
  border: none !important;
  border-radius: 50px;
  height: 32px;
  display: flex;
  align-items: center;
}

.phone_input {
  background-color: transparent !important;
  border: none !important;
  height: 32px;
  padding: 0 10px;
  outline: none;
  flex: 1;
  font-size: 13px;
}

/* Optional: Style the flag dropdown */
.phone_input_container .flag-dropdown {
  background: transparent;
  border: none !important;
}

.required {
    color: red;
    font-family: 'Inter', sans-serif;
}

.submit {
    background-color: #5856D6;
    color: #fff;
    font-family: 'Inter', sans-serif;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 50px;
    cursor: pointer;
}

.submit_message {
    color: #009933;
    text-align: center;
    font-weight: bold;
}

.buttonContent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.aiva_button {
    width: 30px;
}

.checkbox {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: flex-start; /* aligns checkbox with top of text */
    gap: 10px; /* space between checkbox and label */
    padding: 20px 0;
}

.checkbox input {
    cursor: pointer;
    transform: scale(1.5); /* Increase size */
    transform-origin: top left; /* Anchor the scale */
    margin-top: 1px;
}

.checkbox a {
    color: #000;
}

.select_wrapper {
  position: relative;
  display: inline-block;
  width: 100%; /* or specific width */
}

.select_wrapper::after {
  content: "▼"; /* Unicode arrow */
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
  font-size: 0.7rem;
}

.select_wrapper select {
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none;    /* Firefox */
  appearance: none;         /* Modern browsers */
  width: 100%;
  height: 32px;
  padding: 0 40px 0 20px; /* Right padding for space where the arrow is */
  border-radius: 50px;
  border: none;
  background-color: #E5E5E5;
  font-size: 14px;
}

.select_wrapper option {
    background-color: #fff;
    border: none;
}


@media (max-width: 767px) {
    .navbar {
        padding: 5px 15px;
    }

    .pt_button, .gb_button {
        font-size: 16px;
    }

    .pt_button img, .gb_button img {
        display: none;
    }

    .modal_container {
        width: 80%;
        height: 85%;
    }

    .modal_header p {
        text-align: center;
    }

    .checkbox input {
        transform: scale(1);
    }

    .submit {
        width: 80%;
    }
}

@media (min-width: 1900px) {
    .modal_container {
        height: 80%;
        width: 25%;
    }

    .modal_content {
        max-height: 95%;
    }

    .modal_header {
        text-align: center;
        padding: 0 10%;
    }

    .modal_form {        
        padding: 0 10%;
    }

    .checkbox input {
        transform: scale(1.2);
    }
    
}

@media (max-width: 425px) {
    .logo img {
        width: 110px;
    }

    .join_button {
        width: 110px;
        height: 32px;
        margin: 0 10px;
        font-size: 12px;
    }

    .modal_container {
        height: 85%;
    }

    .modal_header img {
        width: 40px;
    }

    .modal_title {
        font-size: 18px;
    }

    .modal_header p {
        font-size: 13px;
        margin-bottom: 0px !important;
    }

    .modal_form label {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .modal_form input {
        height: 24px;
        font-size: 12px;
    }

    .checkbox {
        padding-bottom: 10px;
    }

    .checkbox label {
        font-size: 12px;
    }

    .checkbox input {
        margin-top: -1px;
    }

    .submit {
        width: 70%;
    }
}

@media (min-width: 1440px) and (max-width: 1900px) {
    .modal_container {
        height: 85%;
    }
    .modal_header img {
        width: 40px;
    }

    .modal_title {
        font-size: 18px;
    }

    .modal_header p {
        font-size: 14px;
        margin-bottom: 0px !important;
    }

    .modal_form label {
        font-size: 13px;
        padding-bottom: 5px;
    }

    .modal_form input, .modal_form select {
        height: 26px;
        font-size: 13px;
    }

    .checkbox {
        padding-bottom: 10px;
    }

    .checkbox label {
        font-size: 12px;
    }

    .checkbox input {
        margin-top: -8px;
        transform: scale(1.3);
    }

    .submit {
        width: 70%;
    }
}