.navbar {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo img {
    width: 133px;
}

.join_button {
    width: 143px;
    height: 38px;
    border-radius: 999px;
    background-color: #5856D6;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0 20px;
}

.join_button:hover {
    background-color: #403eaa;
    box-shadow: 0 0 10px rgba(138, 129, 255, 0.9);
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lang_buttons {
    display: flex;
}

.pt_button, .gb_button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.separator {    
    height: 25px; /* match the icon height */
    border: 1px solid #000
}

@media (max-width: 767px) {
    .navbar {
        padding: 5px 15px;
    }

    .pt_button, .gb_button {
        font-size: 16px;
    }

    .pt_button img, .gb_button img {
        display: none;
    }
}

@media (max-width: 428px) {
    .logo img {
        width: 110px;
    }

    .join_button {
        width: 110px;
        height: 32px;
        margin: 0 10px;
        font-size: 12px;
    }
}