.navbar {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.logo img {
    width: 133px;
}

.join_button {
    width: 143px;
    height: 38px;
    border-radius: 999px;
    background-color: #5856D6;
    border: none;
    color: #fff;
    cursor: pointer;
}

.join_button:hover {
    background-color: #403eaa;
    box-shadow: 0 0 10px rgba(138, 129, 255, 0.9);
}

@media (max-width: 767px) {
    .navbar {
        padding: 5px 15px;
    }
}